{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="stylesheet" href="{% static 'style.css'%}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

  <!-- Navbar -->
 <nav>
    <img src="../static/images/ga_logo_-_Royalty_Free_Stock_Illustrations_and_-removebg-preview.png" alt="Logo" class="logo"> <!-- Replace with your uploaded logo -->
    <ul>
      <li><a href="{% url 'index' %}" class="active">Home</a></li>
      <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
      
    </ul>
  </nav>

  <!-- Portfolio Section -->
  <section class="portfolio">
    <h2>My Work</h2>
    <div class="projects">
      <div class="project-card">
        <img src="../static/images/e6d970ed-8a4d-42fa-9f16-0b7efc34fb95.png" alt="Project 1">
        <h3>Project One</h3>
        <p>Website design for a startup.</p>
      </div>
      <div class="project-card">
        <img src="../static/images/82528385-a73f-488f-9003-513321283a6b.png" alt="Project 2">
        <h3>Project Two</h3>
        <p>E-commerce website UI/UX.</p>
      </div>
      <div class="project-card">
        <img src="../static/images/e6d970ed-8a4d-42fa-9f16-0b7efc34fb95.png" alt="Project 3">
        <h3>Project Three</h3>
        <p>Portfolio site for a designer.</p>
      </div>
    </div>
  </section>


  <footer>
    <div class="footer-container">
      <div class="footer-about">
        <h3>Ayush Ghevariya</h3>
        <p>Passionate Web Developer | Building Modern & Responsive Websites</p>
      </div>

      <div class="footer-contact">
        <h4>Contact Info</h4>
        <p>Email: <a href="mailto:ayush@example.com">ayush@example.com</a></p>
        <p>Phone: <a href="tel:+919876543210">+91 98765 43210</a></p>
      </div>

      <div class="footer-social">
        <h4>Follow Me</h4>
        <a href="#"><i class="fa-brands fa-square-facebook" style="color: #ffffff ;font-size: 20px;"></i></i></a>
        <a href="#"><i class="fa-brands fa-square-twitter" style="color: #ffffff;font-size: 20px;"></i></i></a>
        <a href="#"><i class="fa-brands fa-square-linkedin" style="color: #ffffff;font-size: 20px;"></i></a>
        <a href="#"><i class="fa-brands fa-square-github" style="color: #ffffff;font-size: 20px;"></i></i></a>
      </div>
    </div>

    <div class="footer-bottom">
      <p>© 2025 Ayush Ghevariya | All Rights Reserved</p>
    </div>
  </footer>

</body>
</html>
